import requests
import urllib.request
from urllib.request import Request, urlopen
import random
import json
import gtts
from pygame import mixer
import time
from python_translator import Translator
from mutagen.mp3 import MP3
import RPi.GPIO as GPIO
